@charset "utf-8";

/* ------로그인------ s */
.dr-login{width:388px; position:fixed; top:50%;left:50%;transform:translate(-50%, -50%);}
/* ------로그인------ e */

/* ------회원가입----- s */
.dr-join {width:500px; margin:9rem auto;}
#timer { position: absolute; margin-left: auto; right: 100px; top: 14px; font-size: 12px; color: red; opacity: 0.6; }
.dr-email-txt {background-color:#F0F7F3; color:#1C8F51; line-height:18px; padding:4px 0 4px 9px; border-radius:3px;}
.dr-phone-wrap {display:flex;}
.dr-phone-wrap .dr-input {width:calc(100% - 90px);}
.dr-phone-wrap .dr-phone_btn {width:83px; margin-left:7px; border:1px solid #d3d4da; border-radius:3px; background-color:#fff;}
.dr-phone-wrap .dr-phone_btn.disabled {border-color:#e8e8e8; color:#d2d2d2; cursor:default;}
.dr-err-txt {color:#E94B4B; position: absolute; bottom:-17px;}
.dr-suc-txt {color:#1C8F51; position: absolute; bottom:-17px;}
.dr-job-selection{display: flex; flex-wrap:wrap}
.dr-job-selection .btn-check + .btn{border-color: #999; color: #999;}
.dr-job-selection .dr-job {margin-bottom: 10px; width: 49%; margin-right:2%;}
.dr-job-selection .dr-job:nth-child(2n) {margin-right:0;}
.dr-job-selection .dr-job label{width: 100%; border:1px solid #d7d7d7; border-radius:3px; line-height:2.5rem; padding:1rem 0; font-size:1.4rem; font-weight:500; text-align: center; cursor: pointer;}
.dr-job-selection .dr-job input.btn-check:checked + label {background-color: #353839; border-color:#353839; color:#fff;}
.dr-selc-color {color:#989ca1;}
.dr-join-chk-wrap {padding:40px 0;}
.dr-join-chk-wrap .dr-checkbox:first-child {border-bottom:1px solid #e6e5ec;}
.dr-join-chk-wrap .dr-checkbox .dr-bs-info-txt {font-size:1.2rem; color:#989ca1; font-weight:400; line-height:1.6rem; margin:6px 0 0 65px;}

/* 팝업 */
.dr-popup-terms {width:500px;}
.dr-popup-terms .dr-popup-content {height:50vh; overflow: hidden scroll;}
.dr-popup-terms .dr-popup-content::-webkit-scrollbar {width: 3px;}
.dr-popup-terms .dr-popup-content::-webkit-scrollbar-thumb {width:3px; border-radius: 3px; background-color:#505866;}
.dr-popup-terms .dr-popup-content h3 {font-size:1.5rem; font-weight: 600;}
.dr-popup-terms .dr-popup-content p {font-size:1.4rem; color:#505866; line-height:26px;}
.dr-popup-complete {width:500px; text-align: center;}
.dr-popup-complete .dr-popup-content p {font-size:1.5rem; line-height:2.1rem; color:#989ca1;}
/* ------회원가입----- e */

/* ------푸터------ s */
footer{background-color:#F2F2F2; }
.dr-footer-wrap{max-width:1200px; margin:0 auto; padding:6rem 3rem;align-items: flex-start;}
.dr-footer-logo{width:100px;}
.dr-footer-logo img{width:100%;}
.dr-footer-wrap span{color:#626262;line-height: 1.6rem;}
.dr-footer-wrap > div {display: inline-block;}
.dr-footer-wrap .dr-footer-adress span{color:#626262}
.dr-footer-wrap .dr-footer-terms ul li{display:inline-block;}
.dr-footer-wrap .dr-footer-terms ul li a{font-size:1.3rem; color:#626262;line-height: 1.6rem;}
.dr-footer-wrap .dr-copy-right{color:#B7B7B7; white-space: nowrap;}
/* ------푸터------ e */


/* ------반응형------ s */
@media (max-width: 1200px) {

} 
@media (max-width: 992px) {

} 
@media (max-width: 768px) {
    /* 팝업 s */
    .dr-popup-wrap {width:90% !important;}
    /* 팝업 e */
}
@media (max-width: 576px) {
    .dr-bg-w {background-color: #fff;}
    /* ------로그인------ s */
    .dr-cont-wrap{/*position:unset;margin: 50px auto 0; transform: translate(0);*/width:100%;padding:1rem;border:0;}
    .dr-join {margin:5rem auto;}
    /* ------로그인------ e */

    /* ------footer------ s */
    .dr-footer-wrap{padding:6rem 2rem;}
    .dr-footer-wrap .dr-footer-adress, .dr-footer-wrap .dr-footer-terms{margin-top: 2rem;}
    /* ------footer------ e */
} 
/* ------반응형------ e */
