@charset "utf-8";

/* ------로그인------ s */
.dr-login{width:388px; position:fixed; top:50%;left:50%;transform:translate(-50%, -50%);}
/* ------로그인------ e */

/* ------회원가입----- s */
.dr-join {width:500px; margin:9rem auto;}
#timer { position: absolute; margin-left: auto; right: 100px; top: 14px; font-size: 12px; color: red; opacity: 0.6; }
.dr-email-txt {background-color:#F0F7F3; color:#1C8F51; line-height:18px; padding:4px 0 4px 9px; border-radius:3px;}
.dr-phone-wrap {display:flex;}
.dr-phone-wrap .dr-input {width:calc(100% - 90px);}
.dr-phone-wrap .dr-phone_btn {width:83px; margin-left:7px; border:1px solid #d3d4da; border-radius:3px; background-color:#fff;}
.dr-phone-wrap .dr-phone_btn.disabled {border-color:#e8e8e8; color:#d2d2d2; cursor:default;}
.dr-err-txt {color:#E94B4B; position: absolute; bottom:-17px;}
.dr-suc-txt {color:#1C8F51; position: absolute; bottom:-17px;}
.dr-job-selection{display: flex; flex-wrap:wrap}
.dr-job-selection .btn-check + .btn{border-color: #999; color: #999;}
.dr-job-selection .dr-job {margin-bottom: 10px; width: 49%; margin-right:2%;}
.dr-job-selection .dr-job:nth-child(2n) {margin-right:0;}
.dr-job-selection .dr-job label{width: 100%; border:1px solid #d7d7d7; border-radius:3px; line-height:2.5rem; padding:1rem 0; font-size:1.4rem; font-weight:500; text-align: center; cursor: pointer;}
.dr-job-selection .dr-job input.btn-check:checked + label {background-color: #353839; border-color:#353839; color:#fff;}
.dr-selc-color {color:#989ca1;}
.dr-join-chk-wrap {padding:40px 0;}
.dr-join-chk-wrap .dr-checkbox:first-child {border-bottom:1px solid #e6e5ec;}
.dr-join-chk-wrap .dr-checkbox .dr-bs-info-txt {font-size:1.2rem; color:#989ca1; font-weight:400; line-height:1.6rem; margin:6px 0 0 65px;}

/* 팝업 */
.dr-popup-terms {width:500px;}
.dr-popup-terms .dr-popup-content {height:50vh; overflow: hidden scroll;}
.dr-popup-terms .dr-popup-content::-webkit-scrollbar {width: 3px;}
.dr-popup-terms .dr-popup-content::-webkit-scrollbar-thumb {width:3px; border-radius: 3px; background-color:#505866;}
.dr-popup-terms .dr-popup-content h3 {font-size:1.5rem; font-weight: 600;}
.dr-popup-terms .dr-popup-content p {font-size:1.4rem; color:#505866; line-height:26px;}
.dr-popup-complete {width:500px; text-align: center;}
.dr-popup-complete .dr-popup-content p {font-size:1.5rem; line-height:2.1rem; color:#989ca1;}
/* ------회원가입----- e */

/* ------푸터------ s */
footer{background-color:#F2F2F2; }
.dr-footer-wrap{max-width:1200px; margin:0 auto; padding:6rem 3rem;align-items: flex-start;}
.dr-footer-logo{width:100px;}
.dr-footer-logo img{width:100%;}
.dr-footer-wrap span{color:#626262;line-height: 1.6rem;}
.dr-footer-wrap > div {display: inline-block;}
.dr-footer-wrap .dr-footer-adress span{color:#626262}
.dr-footer-wrap .dr-footer-terms ul li{display:inline-block;}
.dr-footer-wrap .dr-footer-terms ul li a{font-size:1.3rem; color:#626262;line-height: 1.6rem;}
.dr-footer-wrap .dr-copy-right{color:#B7B7B7; white-space: nowrap;}
/* ------푸터------ e */

/* ------커뮤니티------ s */
.dr-community-main{max-width: 1200px;}
/* 자유 게시판 s */
.dr-free-board{width: 840px; min-height:900px; overflow: hidden; border:1px solid #E8E8EB; border-radius:5px; padding: 2.5rem 3rem; background: #fff;}
.dr-free-board > div:nth-child(1){padding-bottom: 2.5rem;}
.dr-tit-3 h3{font-size: 2.3rem; font-weight: 700;}
button.dr-button-view{font-size:1.3rem;font-weight:500; height: 35px; border: 1px solid #E8E8EB; border-radius: 3px;color: #989CA2; background-color: #fff; padding: 0.8rem 2.6rem;}
.dr-line{height: 1px; border-bottom: 1px solid #e9e9e9; margin: 0 -3rem;}
.dr-free-wrap{margin-top: 2rem;}
.dr-free-wrap h4.dr-icon-best::before, .dr-community-vote h4::before{content:"";display: inline-block; width: 20px; height: 20px; background-image: url(../../img/icon/icon_best.png); background-size: cover;vertical-align: bottom; margin-left: -0.5rem; margin-right: 1rem;}
.dr-free-cont{position:relative; margin-bottom: 2rem;}
.dr-free-cont p {max-width: 524px; display: inline-block; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dr-free-cont ul li{position: relative; width: 55px; padding-left: 2rem;display: inline-block;vertical-align:text-bottom}
.dr-free-cont .dr-free-icon{width: 108px;white-space: nowrap;}
.dr-num{display: inline-block; width: 10px; line-height: 1.7rem; color: #989CA1; margin-right: 1.5rem;}

/* 하트, 말풍선 아이콘 */
.dr-free-wrap a:nth-child(1) .dr-free-cont span, .dr-free-wrap a:nth-child(2) .dr-free-cont span,.dr-free-wrap a:nth-child(3) .dr-free-cont span{color: #CF2F2F;}
.dr-heart::before,.dr-coment::before{position: absolute;content: "";width: 17px;height: 17px;color: #989CA1;background-size: contain;display: inline-block;vertical-align: bottom;left: 0;top: 50%;transform: translateY(-50%);}
.dr-heart.dr-heart-d::before{background-image:url(../../img/icon/icon_heart_d.png);}
.dr-heart.dr-heart-r::before{background-image:url(../../img/icon/icon_heart_r.png);}
.dr-coment.dr-coment-d::before{background-image:url(../../img/icon/icon_coment_d.png);}
.dr-coment.dr-coment-r::before{background-image:url(../../img/icon/icon_coment_prres.png);}

/* 업계 커뮤니티 */
.dr-industry{width:330px;border-radius: 5px;}
.dr-industry-cont{padding: 2.5rem 3rem; border: 1px solid #e8e8e8;  background-color: #fff; min-height: 550px; max-height: 55px; position: relative;}
.dr-industry-cont .dr-line{padding-top: 2rem;}
.dr-industry-cont ul {min-height: 350px; overflow: hidden;}
.dr-industry-cont ul li a{display: block;padding-top: 0.5rem; position: relative;}
.dr-industry-cont ul li a::after, .dr-community-vote ul li a::after {content: ""; display: inline-block; width: 23px; height: 23px; background-image: url(../../img/icon/icon_arrow.png); background-size: contain; position: absolute;right: 0;top: 5px;}
.dr-industry-cont ul li span{display: inline-block; font-size: 1.1rem; background-color:#F3F3F3; padding: 0.5rem 0.6rem; font-weight: 600; color: #1C8F51; border-radius: 3px; margin-right: 1rem;}
.dr-industry-cont ul li:nth-child(even) span{color: #505866;}
.dr-industry-cont ul li p{display: inline-block; max-width: 190px; font-size: 1.3rem;color:#505866; font-weight: 500; vertical-align: middle; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dr-industry-cont .dr-button-view{position: relative; width: 100%; bottom: -2rem;}
.dr-button-worker{width: 118px; height: 35px; position: relative; background-color: #353839; border-radius: 4px; padding: 0.8rem 1rem; color: #fff; font-size: 1.4rem; font-weight: 600; white-space: nowrap;}
.dr-button-worker::before{content: ""; display: inline-block; width: 14px; height: 14px; background-image: url(../../img/icon/green_check.png); background-size: contain; margin-right: 0.7rem; vertical-align: bottom; background-repeat: no-repeat;}
.dr-no-industry-cont{padding: 2.5rem 3rem; border: 1px solid #e8e8e8; background-color: #fff; min-height: 350px; max-height: 350px; position: relative;}
.dr-no-industry-cont .dr-line{padding-top: 2rem;}
.dr-no-industry-cont .dr-button-view{height: 35px; background-color:#353839; color: #fff; margin-top: 1.7rem;}
.dr-no-industry-cont .dr-no-iconwrap{text-align: center;}
.dr-no-industry-cont .dr-no-iconwrap span{display: inline-block; width: 40px; height: 40px; margin: 3rem 0; background-color: #F3F3F3; border-radius: 50%;}
.dr-no-industry-cont .dr-no-iconwrap span i{display: inline-block; width: 24px; height: 24px; background-image: url(../../img/icon/lock_fill.png); background-size: contain; margin-top: 0.7rem;}
.dr-no-industry-cont .dr-no-iconwrap p{margin-bottom: 1.5rem; font-size: 1.4rem; line-height: 21px;}
.dr-no-industry-cont .dr-no-iconwrap div{ font-size: 1.5rem; color: #505866; font-weight: 500;}

/* 배너 */
.dr-community-banner{width:330px; height: 140px; display: inline-block; background-color: green; border-radius: 5px; position: relative;}
.dr-community-banner p { font-size: 2rem; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }

/* 투표 */
.dr-community-vote{width:330px; height: 140px; border: 1px solid #E8E8EB;border-radius: 5px; padding: 2.5rem 3rem; overflow: hidden; background-color: #fff;}
.dr-community-vote h4::before{background-image: url(../../img/icon/icon_vote.png); margin-right: 0.5rem;}
.dr-community-vote ul {margin-top: 1.8rem;}
.dr-community-vote ul li{margin-bottom: 1.5rem;}
.dr-community-vote ul li a{display: block; position: relative;}
.dr-community-vote ul li a::after{top: -4px;}
.dr-community-vote ul li p{ text-indent: -4px; font-size: 1.4rem; font-weight: 500; color: #353839;}
/* ------커뮤니티------ e */

/* ------반응형------ s */
@media (max-width: 1200px) {
    /* 커뮤니티  s*/
    .dr-free-board{width: 100%;}
    .dr-industry{display: flex; width: 100%; flex-wrap: wrap; flex-direction: row; margin-top: 2.5rem;}
    .dr-industry-cont, .dr-no-industry-cont{width: 49%; margin-right: 2%;}
    .dr-community-banner{width: 100%;}
    .dr-community-side{ width: 49%;}
    .dr-community-vote{ width: 100%;}
    /* 커뮤니티  e*/

} 
@media (max-width: 992px) {

} 
@media (max-width: 768px) {
    /* 팝업 s */
    .dr-popup-wrap {width:90% !important;}
    /* 팝업 e */

    /* 커뮤니티  s*/
    .dr-free-board{width: 100% ;}
    .dr-industry{width: 100%;}
    .dr-industry-cont, .dr-no-industry-cont{width: 100%; margin-right: 0;}
    .dr-community-banner{width: 100% ; margin-top: 2.5rem;}
    .dr-community-side{ width: 100%;}
    .dr-community-vote{ width: 100%;}
    .dr-free-wrap > div a {display: block; margin-bottom: 2rem;}
    .dr-num{margin-right: 0.5rem;}
    .dr-free-cont{display: unset !important;}
    .dr-free-cont p{max-width: unset ; white-space: unset ; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 30px; margin: 0.5rem 0 0.3rem;}
    .dr-free-cont .dr-free-icon{margin-left: 0 !important;}
    .dr-industry-cont ul li p{max-width: 360px; width: calc(100% - 80px)}
    /* 커뮤니티  e*/

}
@media (max-width: 576px) {
    .dr-bg-w {background-color: #fff;}
    /* ------로그인------ s */
    .dr-cont-wrap{/*position:unset;margin: 50px auto 0; transform: translate(0);*/width:100%;padding:1rem;border:0;}
    .dr-join {margin:5rem auto;}
    /* ------로그인------ e */

    /* ------footer------ s */
    .dr-footer-wrap{padding:6rem 2rem;}
    .dr-footer-wrap .dr-footer-adress, .dr-footer-wrap .dr-footer-terms{margin-top: 2rem;}
    /* ------footer------ e */

    /* 커뮤니티  s*/

    /* 커뮤니티  e*/
} 
/* ------반응형------ e */
