@charset "utf-8";

/* font */
.dr-fz-11{font-size:1.1rem !important;}
.dr-fz-12{font-size:1.2rem !important;}
.dr-fz-13{font-size:1.3rem !important;}
.dr-fz-14{font-size:1.4rem !important;}
.dr-fz-15{font-size:1.5rem !important;}
.dr-fz-16{font-size:1.6rem !important;}
.dr-fz-17{font-size:1.7rem !important;}
.dr-fz-18{font-size:1.8rem !important;}
.dr-fz-19{font-size:1.9rem !important;}

/* icon-label */
.dr-icon-txt{display:inline-block;border:1px solid transparent;background:#F3F3F3;font-size:1.2rem;padding:0 .5rem;font-weight:600;vertical-align:middle;white-space:nowrap;border-radius:.3rem;margin:0 .6rem .6rem 0;}
.dr-icon-txt:last-child{margin-right: 0;}

/* color */
.dr-color-main{color:#353839 !important;}
.dr-color-1{color:#CC4040 !important;}
.dr-color-2{color:#1C8F51 !important;}
.dr-color-3{color:#411C8F !important;}
.dr-color-4{color:#38AED3 !important;}
.dr-color-5{color:#EB8989 !important;}
.dr-color-6{color:#1C4ECD !important;}
.dr-color-7{color:#894040 !important;}
.dr-color-8{color:#585E19 !important;}
.dr-color-9{color:#979797 !important;}
.dr-color-10{color:#BE9D29 !important;}
.dr-color-11{color:#615AF6 !important;}
.dr-color-12{color:#E87A3C !important;}


/* bg-color */
.dr-bg-main{background-color:#353839 !important;}
.dr-bg-1{background-color:#CC4040 !important;}
.dr-bg-2{background-color:#1C8F51 !important;}
.dr-bg-3{background-color:#411C8F !important;}
.dr-bg-4{background-color:#38AED3 !important;}
.dr-bg-5{background-color:#EB8989 !important;}
.dr-bg-6{background-color:#1C4ECD !important;}
.dr-bg-7{background-color:#894040 !important;}
.dr-bg-8{background-color:#585E19 !important;}
.dr-bg-9{background-color:#979797 !important;}
.dr-bg-10{background-color:#BE9D29 !important;}
.dr-bg-11{background-color:#615AF6 !important;}
.dr-bg-12{background-color:#E87A3C !important;}


/* button */
.dr-button{position:relative;display:inline-block;width:auto;padding:1.3rem 5.6rem;text-align:center;vertical-align:middle;font-size:1.6rem;font-weight:700;white-space:nowrap;text-decoration:none;overflow:hidden;box-sizing:border-box;border:1px solid #989CA1;border-radius:3px;color:#353839;line-height:2.4rem;}
.dr-button.hover:hover{border-color: #353839;} /* 호버 */
.dr-button.green{color:#fff;background-color:#1C8F51;border-color:transparent;} 
.dr-button.green.hover:hover{background-color:#177442;}
.dr-button.indigo{color:#fff;background-color:#353839;border-color:transparent;}
.dr-button.disabled{color:#989CA1;background:#E8E8EB;border-color:transparent;}


/* Text field states */
/* input */
.dr-input-wrap{position:relative;display:inline-block;width:100%;}
.dr-input-wrap .dr-input{width:100%;height:45px;padding:1.2rem 0 1.2rem 1.5rem;border:1px solid #d7d7d7;border-radius:3px;color:#353839;font-size:1.4rem;font-weight:500;}
input:focus{border-color:#131414;}
input::placeholder{color:#989CA1; font-weight: 400;}

/* textarea */
.dr-textarea-wrap{position:relative;display:inline-block;width:100%;}
.dr-textarea-wrap .dr-textarea{width:100%;padding:1.2rem 1.5rem;border:1px solid #131414; font-size:1.4rem; line-height:2.1rem;}

/* check */
.dr-checkbox{}
.dr-checkbox input{width:18px;height:18px;color:#D2D2D2;border-color:#D2D2D2; }
.dr-checkbox input + label{vertical-align:top;font-size:1.4rem;color:#989CA1;margin-top:2px; font-weight:500;}
.dr-checkbox input:checked {background-color: red;}
.dr-checkbox input:checked + label{color: #353839; font-family: 500;}


/* ---------------------------------------------------------------------각 페이지 ---------------------------------------------------------------------------------*/


/* 로그인 페이지*/
.login_wrap{width:388px;position:fixed;top:50%;left:50%;transform: translate(-50%,-50%);padding:5rem 3rem 4rem 3rem;border:1px solid #e5e5e5;border-radius:10px;box-shadow:0px 0px 1px 1px rgba(0,0,0,0.09);}
.login_wrap h1{max-width:113px;max-height:22px;}
#timer{position:absolute;margin-left:auto;right:70px;top:14px;font-size:12px;color:red;opacity:.6;}
