{% extends "common/header.html" %}
{% load static %}
{% block content %}
    <div class="dr-container">
        <div class="dr-community-main mx-auto d-xl-flex">
            <div class="dr-free-board me-xl-5">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="dr-tit-3">
                        <h3>전체 커뮤니티</h3>
                    </div>
                    <div>
                        <a href="{% url 'all_commu' %}"><button class="dr-button-view text-center">전체보기</button></a>
                    </div>
                </div>
                <div class="dr-line"></div>
                <div class="dr-free-wrap">
                    <h4 class="mb-4 dr-icon-best dr-fw-700">베스트 순위</h4>
                    <div>
                        {% for post_data in post %}
                        <a href="{% url 'detail' post_data.pk %}">
                            <div class="dr-fz-15 dr-fw-500 dr-free-cont d-flex align-items-center">
                                <span class="dr-num">{{ forloop.counter }}</span>
                                <div class="d-inline-block dr-selc-color me-1 text-nowrap dr-fw-300"><span></span>[{{ post_data.category.name }}]</div>
                                <p>{{ post_data.title }}</p>
                                <div class="ms-auto dr-free-icon">
                                    <ul>
                                        {% if post_data.pk in like  %}
                                        <li class="dr-selc-color dr-heart dr-heart-r">{{ post_data.likes }}</li>
                                        {% else %}
                                        <li class="dr-selc-color dr-heart dr-heart-d">{{ post_data.likes }}</li>
                                        {% endif %}
                                        <li class="dr-selc-color dr-coment dr-coment-d">{{ post_data.comment_count }}</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="dr-industry">
                <!-- 로그인일시 노출 s -->
                {% if user.is_authenticated %}
                <div class="dr-industry-cont">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="dr-tit-3">
                            <h3>업계 커뮤니티</h3>
                        </div>
                        <div>
                            <button class="dr-button-worker text-center">{{ user.job_code.name }}</button>
                        </div>
                    </div>
                    <div class="dr-line"></div>
                    <div class="mt-4">
                        <ul>
                        {% for data in combined_data %}
                            {% if data.is_partner %}
                            <li>
                                <a href="{% url 'partner_detail' data.pk %}">
                                    <span>파트너</span>
                                    <p>{{ data.title }}</p>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'detail' data.pk user.job_code.code %}">
                                    <span>게시판</span>
                                    <p>{{ data.title}}</p>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        </ul>
                    </div>
                    <a href="{% url 'pro' user.job_code.code %}"><button class="dr-button-view text-center">전체보기</button></a>
                </div>
                <!-- 로그인일시 노출 e -->
                <!-- 로그인 아닐 시 노출 s-->
                {% else %}
                <div class="dr-no-industry-cont">
                    <div class="dr-tit-3">
                        <h3>업계 커뮤니티</h3>
                    </div>
                    <div class="dr-line pt-5"></div>
                    <div class="dr-no-iconwrap" style="text-align: center;">
                        <span>
                            <i></i>
                        </span>
                        <p>업계 커뮤니티는 같은 직군<br>
                            사람들을 위한 공간입니다.</p>
                        <div>로그인 후 이용하실 수 있습니다.</div>
                    </div>
                    <button class="dr-button-view w-100" onclick="window.location.href='{% url 'signin' %}'">로그인하기</button>
                </div>
                <!-- 로그인 아닐 시 노출 e-->
                {% endif %}
                <div class="dr-community-side">
                    <div class="dr-community-banner"><!-- 2023-09-22 오후, 클래스 mt-xl-4 제거 -->
{#                        <p class="">Banner image link</p>#}
                        <a href="{% url 'partner' %}" class="d-block">
                            <img src="{% static 'img/contents/co-banner-1.png' %}" alt="광고 이미지">
                        </a>
                    </div>
                    <div class="dr-community-vote">
                        <h4 class="dr-icon-vote dr-fw-700">인기 투표</h4>
                        <ul>
                            {% for vote_data in vote %}
                            <li>
                                <a href="{% url 'detail' vote_data.post_id %}">
                                    <p>{{ vote_data.title}}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// 컨테이너 -->
{#</body>#}
{#</html>#}
    <script src="{% static 'js/community.js' %}"></script>
    {% include "common/footer.html" %}
{% endblock content %}
