{% extends "common/header.html" %}
{% load static %}
{% block content %}
    <div class="dr-container">
        <div class="dr-community-main mx-auto">
            <div class="dr-title-wrap d-flex justify-content-between align-items-center">
                <h2>전체 커뮤니티</h2>
                <div class="dr-title-search-box d-flex">
                    <input type="text" id='search_title' placeholder="검색어를 입력하세요"/>
                    <input type="hidden" id="job_type" value="00">
                    <input type="hidden" id="total_page" value="{{ total_page }}">
{#                    <a href="{% url 'post' %}">#}
                        <button class="dr-button green" onclick="checkUser()">글 올리기</button>
{#                    </a>#}
                </div>
            </div>
            <div class="dr-all-board">
                <div class="dr-all-board-box">
                    <ul class="dr-comunity-tab d-flex dr-fz-19">
                        <li {% if tab == None or tab == '0' %}class="dr_on"{% endif %} value="00">전체보기</li>
                        <li {% if tab == '1' %}class="dr_on"{% endif %} value="01">업무관련</li>
                        <li {% if tab == '2' %}class="dr_on"{% endif %} value="02">잡담</li>
                    </ul>
                    <ul class="dr-comunity-tab-mini d-flex dr-fz-13">
                        <li class="me-3 {% if filter == None or filter == '1' or filter == '0'%}dr_on{% endif %}" value="01">최신순</li>
                        <li {% if filter == '2' %}class="dr_on"{% endif %} value="02">인기순</li>
                    </ul>
                    <!-- 230703 탭팝업 추가 s -->
                    <div class="dr-tab-mini-icon">
                        <img src="{% static 'img/icon/icon_filter.png' %}" alt="filter-icon">
                        <ul class="dr-mini-tab-comm">
                            <li class="me-3 {% if filter == None or filter == '1' or filter == '0'%}dr_on{% endif %}" value="01">최신순</li>
                            <li {% if filter == '2' %}class="dr_on"{% endif %} value="02">인기순</li>
                        </ul>
                    </div>
                    <!-- 230703 탭팝업 추가 e -->
                </div>
                <div class="dr-all-board-list">
                    <ul id="post-list">
                        {% for post_data in page_obj %}
                            {% if post_data.is_vote and forloop.counter > 4 %}
                        <li class="dr-all-vote">
                            {% else %}
                        <li>
                            {% endif %}
                            <span class="dr-fz-15 dr-fw-300">[{{ post_data.category.name }}]</span>
                            <div class="dr-all-board-txt">
                                <p class="dr-fw-700 dr-fz-17 dr-color-main">
                                    {% if post_data.is_vote or forloop.counter <= 4 %}
                                    <span></span><!-- span 아이콘임-->
                                    {% endif %}
                                    {{ post_data.title }}
                                </p>
                                <span class="dr-fw-500 dr-fz-15">
                                    {{ post_data.content|striptags|safe}}
                                </span>
                                <div class="dr-all-date-wrap">
                                    <p class="dr-fz-12 dr-fw-500">{{ post_data.created_at|date:'y.m.d f' }}</p>
                                    <div class="ms-auto dr-free-icon">
                                        <ul>
                                            <li class="dr-selc-color dr-heart dr-heart-d">{{ post_data.likes }}</li>
                                            <li class="dr-selc-color dr-coment dr-coment-d">{{ post_data.comment_count }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'detail' post_data.pk %}"></a>
                        </li>
                            {% if forloop.counter == 6 %}
                                <li class="dr-banner">
                                    <div class="dr-banner-link">
                                        <a href="{% url 'pro' user.job_code.code %}">
                                            <img src="{% static 'img/contents/co-banner-2.png' %}" alt="광고 이미지" class="dr-pc">
                                            <img src="{% static 'img/contents/co-banner-2-pad.png' %}" alt="광고 이미지" class="dr-tablet">
                                            <img src="{% static 'img/contents/co-banner-2-m.png' %}" alt="광고 이미지" class="dr-mobile">
                                        </a>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- 로딩 s -->
        <div class="dr-loading w-full text-center">
            <img src="{% static 'img/icon/icon_loader.png' %}" alt="loading-icon">
        </div>
        <!-- 로딩 e -->
    </div>
    <input type="hidden" value="{{ user.job_code }}" id="user_type">
    <!--// 컨테이너 -->
    <script>
      $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });
    </script>
    <script>
    // 230703 탭팝업 기능 추가
    $('.dr-tab-mini-icon img').on('click',function(){
        $('.dr-mini-tab-comm').addClass('dr_on');
    })
    $(window).click(function (e){
        if(e.target.alt !== 'filter-icon' ){
            setTimeout(function(){
                $('.dr-mini-tab-comm').removeClass('dr_on');
            },500)
        }
    });

    function checkUser() {
    // 로그인 여부 확인
    var isLoggedIn = "{{ user.is_authenticated }}";

    // 로그인하지 않은 경우 알림 창 띄우기
    if (!isLoggedIn) {
        window.location.href = "{% url 'signin' %}";
      return false; // 버튼 클릭 이벤트 중지
    }else{
        window.location.href = "{% url 'post' %}";
    }
    }


    </script>
    <script src="{% static 'js/paging.js' %}"></script>
    <script src="{% static 'js/community.js' %}"></script>

{#</body>#}
{#</html>#}
    {% include "common/footer.html" %}
{% endblock content %}
