{% extends "common/header.html" %}
{% load static %}

{% block content %}
    <!-- 컨테이너 -->
    <div class="dr-container dr-bg-white">
        <div class="dr-registaer-wrap">
            <h1 class="text-center mb-5">커뮤니티 글올리기</h1>
            <form class="dr-fz-15 dr-fw-600" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="dr-input-wrap">
                    <p class="mb-3">제목<span class="dr-important">*</span></p>
                    <input type="text" class="dr-input" id="title" name="title" placeholder="제목을 입력해주세요.">
                </div>
                <p class="mb-3">카테고리<span class="dr-important">*</span></p>
                <div class="d-flex">
                    <div class="dr-checkbox dr-fw-500">
                        <input type="checkbox" id="drCheck2" name="category" value="01" onclick="toggleCheckbox('drCheck2')">
                        <label for="drCheck2">업무관련</label>
                    </div>
                    <div class="dr-checkbox dr-fw-500 ms-5">
                        <input type="checkbox" id="drCheck3" name="category" value="02" onclick="toggleCheckbox('drCheck3')">
                        <label for="drCheck3">잡담</label>
                    </div>
                </div>
                
                <div class="dr-textarea-wrap">
                    <p class="mb-3">내용</p>
                    <textarea class="dr-textarea mt-3" id="summernote" name="content" cols="10" rows="10" placeholder="내용을 입력해주세요."></textarea>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <label class="dr-input-file-button" for="input-file" max-size="10485760">
                        이미지
                    </label>
                    <input type="file" id="input-file" name="input-file" onchange="handleImageUpload(this)" accept="image/*" multiple/>
                    <a href="javascript:void(0);" class="dr-selc-color" onclick="drPopupOpen('.dr-popup-vote')"><button class="dr-vote-upload-button ms-2" type="button">투표</button></a>

                </div>
                <div class="dr-vote-complete dr-tooltop" style="display: none">
                    <div class="d-flex justify-content-between align-content-center">
                        <a href="#none" class="dr-arr opacity-50" onclick="drPopupOpen('.dr-popup-vote')">투표가 등록되었습니다.</a>
                        <a href="#none" class="dr-vote-close" onclick="vote_delte('.dr-tooltop')"></a>
                    </div>
                </div>
                <input type="hidden" id="hidden-data1" name="hidden-data1">
                <input type="hidden" id="hidden-data2" name="hidden-data2">
                <input type="hidden" id="hidden-data3" name="hidden-data3">
                <button type="submit" class="dr-button indigo w-100 mt-5" onclick="return validateForm();" >글 올리기</button>
            </form>
        </div>
    </div>
    <!--// 컨테이너 -->
    <!-- 투표 만들기 팝업  s -->
    <div class="dr-dim"></div>
    <div class="dr-popup-wrap dr-popup-vote">
        <div class="dr-popup-close" onclick="drPopupClose(this)"></div>
        <header>
            <h1>투표 만들기</h1>
        </header>
        <div class="dr-popup-content">
{#            <form method="post">#}
                <div class="dr-input-wrap mb-4">
                    <input type="text" class="dr-input" id="popTitle" name="popTitle" placeholder="제목을 입력해주세요.">
                </div>
                <div class="dr-checkbox mt-2 mb-3">
                    <input type="checkbox" id="drCheck4">
                    <label for="drCheck4">복수선택 허용</label>
                </div>
                <div class="dr-input-wrap" id="choice">
                    <input type="text" class="dr-input mb-2" placeholder="보기 1">
                    <input type="text" class="dr-input mb-2" placeholder="보기 2">
                </div>
                <div class="d-flex mt-2">
                    <button class="dr-button dr-plus-button w-100 dr-bg-white" type="button" id="vote_add">보기 추가하기</button>
                </div>
                <div class="d-flex mt-5">
                    <button class="dr-button indigo w-100" type="button" id="vote_save">투표 등록하기</button>
                </div>
{#            </form>#}
        </div>
    </div>
    <!-- 투표 만들기 팝업  e -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script src="{% static 'js/community.js' %}"></script>
    {% include "common/footer.html" %}
{% endblock content %}
