{% extends "common/header.html" %}
{% load static %}
{% block content %}
    <div class="dr-dim"></div>
    <div class="dr-popup-wrap dr-popup-delete">
        <header>
            <h1 class="text-center">게시글을 삭제하시겠습니까?</h1>
        </header>
        <footer>
            <div class="d-flex">
                <button class="dr-button disabled w-100" onclick="location.href='{% url 'del_post' post.pk %}'">삭제하기</button>
                <button class="dr-button indigo w-100 mx-0" onclick="drPopupClose(this)">취소</button>
            </div>
        </footer>
    </div>
    <!-- 컨테이너 -->
    <div class="dr-container mt-5"><!-- 나중에지워 mt-5 -->
        <div class="dr-community-main details mx-auto d-flex justify-content-center">
            <div class="dr-details-wrap">
                <div class="dr-details-header"><!-- 디테일 헤더부분 -->
                    <div class="d-flex align-items-center">
                        {% if type == '00' %}
                        <div class="dr-fz-17 dr-selc-color"><a href="{% url 'all_commu' %}" class="dr-fz-15 dr-selc-color">전체 커뮤니티</a> &gt; <a href="{% url 'filtering_post' '00' 1 post.category.code|get_digit:"1" %}" class="dr-fz-15 dr-selc-color">{{ post.category.name }}</a></div><!-- 2023-09-16 a태그 dr-selc-color 'dr-bg-d9' , 2023-09-22 오후 dr-selc-color로 다시 변경 -->
                        {% else %}
                        <div class="dr-fz-17 dr-selc-color"><a href="{% url 'pro' user.job_code.code %}" class="dr-selc-color dr-fz-15">{{ post.author.job_code.name }} 커뮤니티</a> &gt; <a href="{% url 'filtering_post' user.job_code.code 1 post.category.code|get_digit:"1" %}" class="dr-selc-color dr-fz-15">{{ post.category.name }}</a></div> <!-- 2023-09-22 오후 dr-selc-color로 다시 변경 -->
                        {% endif %}

                        {% if post.author_id == user.id or user.is_staff or user.is_superuser %}
                        <a href="#None" onclick="drPopupOpen('.dr-popup-delete')" class="dr-delete-button dr-fw-500">글 삭제</a>
                        {% endif %}
                    </div>
                    <p class="dr-fz-20 my-4 dr-details-tit {% if not vote %}off{% endif %}">{{ post.title}}</p><!-- 2023-09-16 my-3 -> my-4 변경 -->

                    <div class="d-flex justify-content-between dr-fz-12">
                        <div>
                            <span class="dr-color-02 dr-fz-14 dr-fw-500 align-bottom">{{ post.author.nickname}}</span><!-- 2023-09-22 오후, 폰트, 굵기 클래스 수정 // 2023-09-24 클래스 추가  -->
                            <span class="dr-fw-300 dr-fz-14 dr-delete">{{ post.created_at|date:'y.m.d H:i'}}</span><!-- 2023-09-22 오후, 폰트, 굵기 클래스 수정 -->
                        </div>
                        <div class="ms-auto dr-free-icon">
                            <ul>
                                {% if like %}
                                <li class="dr-selc-color dr-heart dr-heart-r" id="likes">{{ post.likes }}</li>
                                {% else %}
                                <li class="dr-selc-color dr-heart dr-heart-d" id="likes">{{ post.likes }}</li>
                                {% endif %}
                                <li class="dr-selc-color dr-coment dr-coment-d" id="comment_counts">{{ post.comment_count }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dr-line"></div>
                <div class="details-wrap-txt mt-5">
{#                    <p class="dr-fz-18 dr-fw-400"><!-- 2023-09-22 오후, 폰트사이즈18, 굵기 400 변경 -->#}
                    <p class="dr-fz-17 dr-fw-400">
                        {% autoescape off %}
                        {{ post.content}}
                        {% endautoescape %}
                        {% for img in attachment %}
                        <img src="/media/{{ img.file }}" >
                        {% endfor %}
                    </p>
                </div>
            {% if vote %}
                {% if not vote_record.exists %}
                <div class="dr-vote-select-wrap" id="select_vote">
                <input type="hidden" id="vote_id" value="{{ vote.pk }}">
                {% for voter in vote_record %}
                <input type="hidden" class="voter" value="{{ voter.choice_id }}">
                {% endfor %}
                    <div>
                        <div class="dr-fz-13 dr-fw-600 d-flex justify-content-between pre_vote">
                            <input type="hidden" id="vote_duplicate" value="{{ vote.is_duplicate }}" >
                            <div class="dr-participation">총 참여 <span>{{ total_votes }}</span></div>
                            <a href="#none" class="dr-vote-preview">결과 미리보기</a>
                        </div>
                        {% if vote.is_duplicate == True %}
                            {% for data in choice %}
                            <div class="dr-checkbox-wrap-circle mt-3">
                                <input class="cb" type="checkbox" name="checkbox" id="checkbox{{ forloop.counter }}" value="{{ data.pk }}">
                                <label for="checkbox{{ forloop.counter }}"><span class="round">라디오버튼</span>{{ data.choice_text }}</label>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% for data in choice %}
                            <div class="dr-radio-wrap-circle mt-3">
                                <input class="rd" type="radio" name="radio" id="radio{{ forloop.counter }}" value="{{ data.pk }}">
                                <label for="radio{{ forloop.counter }}"><span class="round">라디오버튼</span>{{ data.choice_text }}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <button class="dr-button dr-vote-button disabled w-100 mt-4" id="btn_vote" disabled>투표하기</button>
                    </div>
                </div>
                {% endif %}
                <div class="dr-vote-select-wrap dr-vote-result"  {% if vote_record.exists %} style="display: block" {% endif %}>
                    <div>
                        <div class="dr-fz-13 dr-fw-600 votes">
                            <div class="dr-participation vote">총 참여 <span>{{ total_votes }}</span></div>
                        </div>

                        {% for data in percent_list %}

                        <div>
                            <div class="d-flex justify-content-between mt-4">
                                <span class="dr-fz-15 dr-fw-600 dr-participation">{{ data.choice_text }}</span>
                                <div class="dr-fz-13">
                                    <span class="dr-color-13" data-percent-pk="{{ data.pk }}">{{ data.votes }}</span>
                                    <p class="d-inline-block dr-color-14 percent" id="percent">(<span>{{ data.percent|floatformat:0 }}</span>%)</p>
                                </div>
                            </div>
                            <div class="mt-4 dr-persent-wrap">
                                <div class="dr-persent" style="width: {{ data.percent|floatformat:0 }}%"></div>
                            </div>
                        </div>
                        {% endfor %}
                        <button class="dr-button blue w-100 {% if vote_record.exists %}disabled{% endif %}" id="go_vote" {% if vote_record.exists %}disabled{% endif %} >투표하러 가기</button>
                    </div>
                </div>
            {% endif %}
            {% if like %}
                <a href="#none" class="dr-like on dr-heart dr-heart-r" data-post-id="{{ post.id }}" id="btn_like">좋아요</a>
            {% else %}
                <a href="#none" class="dr-like dr-heart dr-heart-d" data-post-id="{{ post.id }}" id="btn_like">좋아요</a>
            {% endif %}
                <div class="dr-details-comment">
                    <div class="dr-participation">총 댓글 <span id="comment_count">{{ post.comment_count }}</span></div>
                    <div class="dr-textarea-wrap mt-2">
                        <textarea class="dr-textarea" name="content" id="content" cols="10" rows="10" placeholder="댓글 달기"></textarea>
                        <a href="#none" id="comment_save">등록</a>
                    </div>
                    <input type="hidden" id="post_pk" value="{{ post.pk }}">

                    {% for comment in comments %}
                    <div class="dr-writer-1" data-comment-pk="{{ comment.pk }}">
                    {% if comment.is_deleted == True %}
                        <p class="dr-fz-16 dr-fw-500 my-3">삭제된 댓글입니다.</p>
                        <div class="d-flex dr-fz-12 align-items-center">
                        </div>
                    {% else %}
                        <div class="dr-participation dr-fz-12 d-flex align-items-center">{{ comment.author.nickname }}
                            {% if post.author_id == comment.author_id %}
                                <i class="ms-2">작성자</i>
                            {% endif %}
                            {% if comment.author_id == user.id %}
                                <a href="#none" class="dr-delete-button dr-fw-500 comment_del">삭제</a>
                            {% endif %}
                        </div>
{#                        <p class="dr-fz-18 dr-fw-400 my-3 mb-4">{{ comment.content|linebreaksbr|safe }}</p><!-- 2023-09-22 오후, 댓글 폰트사이즈18, 굵기 400 변경 -->#}
                        <p class="dr-fz-16 dr-fw-400 my-3 mb-4 text">{{ comment.content|linebreaksbr|safe }}</p>
                        <div class="d-flex dr-fz-12 mb-4 align-items-center">
                            <span class="me-2 dr-selc-color">{{ comment.created_at }}</span>
                            <div class="dr-free-icon ">
                                <ul>
                                    {% if comment.id in liked_comments %}
                                        <li class="dr-selc-color dr-heart dr-heart-r comment_like" data-comment-id="{{ comment.id }}">{{ comment.likes }}</li>
                                    {% else %}
                                        <li class="dr-selc-color dr-heart dr-heart-d comment_like" data-comment-id="{{ comment.id }}">{{ comment.likes }}</li>
                                    {% endif %}
                                    <li class="dr-selc-color dr-coment dr-coment-d dr-color-main" data-comment-id="{{ comment.id }}" >답글 달기</li>

                                </ul>
                            </div>
                        </div>
                    {% endif %}
                        <div class="dr-textarea-wrap mt-2 dr-reply-form" id="reply_comment" data-comment-id="{{ comment.id }}" data-parent-id="{{ parent_id }}" style="display: none;">
                            <input type="hidden" name="{{ comment.author_id }}" id="reply_id">
                            <textarea class="dr-textarea reply_content" name="reply_content" id="reply_content_{{ comment.id }}" cols="10" rows="10" placeholder="댓글 달기"></textarea>
                            <a href="#none" class="reply_save" id="reply_save">등록</a>
                        </div>
                            <div class="replies-container">
                            {% for reply in comment.replies.all %}
                    <div class="dr-writer dr-reply-comments d-flex" id="reply_comments_{{ reply.id }}" data-reply-pk="{{ reply.id }}">
                        <div class="vector_10">
                            <img src="{% static 'img/icon/Vector_10.png' %}" alt="댓글용 화살표">
                        </div>
                        <div class="ms-2 w-100">
                            <div class="dr-participation dr-fz-12 d-flex align-items-center">
                                <span>{{ reply.author.nickname }}</span>
                                {% if post.author_id == reply.author_id %}
                                <i class="ms-2">작성자</i>
                                {% endif %}
                                {% if reply.author_id == user.id %}
                                <a href="#none" class="dr-delete-button dr-fw-500 reply_delete">삭제</a>
                                {% endif %}
                            </div>
{#                            <p class="dr-fz-18 dr-fw-400 my-3 mb-4">{{ reply.content|linebreaksbr|safe}}</p><!-- 2023-09-22 오후, 댓글 폰트사이즈18, 굵기 400 변경 -->#}
                            <p class="dr-fz-16 dr-fw-400 my-3 mb-4 text">{{ reply.content|linebreaksbr|safe}}</p>
                            <div class="d-flex dr-fz-12 align-items-center">
                                <span class="me-2 dr-selc-color">{{ reply.created_at }}</span>
                                <div class="dr-free-icon">
                                    <ul>
                                        {% if reply.id in liked_comments %}
                                            <li class="dr-selc-color dr-heart dr-heart-r comment_like" data-comment-id="{{ reply.id }}">{{ reply.likes }}</li>
                                        {% else %}
                                            <li class="dr-selc-color dr-heart dr-heart-d comment_like" data-comment-id="{{ reply.id }}">{{ reply.likes }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                            {% endfor %}
                            </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            <div class="dr-industry-repair">
                <div class="dr-industry-cont-best">
                    <div class="dr-tit-3">
                        <h4 class="dr-fw-700 mb-4 dr-icon-best dr-fz-18">베스트</h4><!-- 2023-09-16 dr-icon-best, dr-fz-18 추가 -->
                    </div>
                    <div class="dr-line"></div>
                    <div class="mt-4">
                        <ul>
                            {% for data in best_post %}
                            <li>
                                <a href="{% url 'detail' data.pk %}">
                                    <p>{{ data.title }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <div class="dr-community-banner_type2">
                            <a href="{% url 'partner' %}" class="d-block">
                                <img src="{% static 'img/contents/co-banner-5.png' %}" alt="광고 이미지">
                            </a>
            </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="author" value="{{ post.author_id }}">
    <!--// 컨테이너 -->
    <script>
        $(document).ready(function () {
            var is_voted = '{{ vote_record.exists }}';
            if(is_voted === 'True'){
                setCheckedStatus();
                $('.dr-checkbox-wrap-circle input').off('click');
                $('.dr-radio-wrap-circle input').off('change');
            }
        });
        function is_User() {
            // 로그인 여부 확인
            var isLoggedIn = "{{ user.is_authenticated }}";
            return isLoggedIn;
        }
    </script>
    <script>
      $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
      });
    </script>

    <script src="{% static 'js/community.js' %}"></script>
    {% include "common/footer.html" %}
{% endblock content %}
